USE [tutoria-webapp]
GO

-- ============================
-- Tablas
-- ============================

CREATE TABLE [dbo].[actividades_agenda](
    [id] [uniqueidentifier] NOT NULL,
    [titulo] [nvarchar](255) NOT NULL,
    [descripcion] [nvarchar](max) NULL,
    [tipo] [nvarchar](50) NOT NULL,
    [fecha_limite] [datetime2](7) NOT NULL,
    [estado] [nvarchar](50) NULL,
    [created_at] [datetime2](7) NULL,
    [curso_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[configuracion_ia](
    [curso_id] [int] NOT NULL,
    [system_prompt] [nvarchar](2000) NOT NULL,
    [temperatura] [decimal](3, 2) NOT NULL,
    [modos_permitidos] [nvarchar](200) NOT NULL,
    [updated_at] [datetime2](7) NULL,
    [extender_conocimiento] [bit] NOT NULL,
PRIMARY KEY CLUSTERED ([curso_id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[consumo_tokens](
    [id] [uniqueidentifier] NOT NULL,
    [institucion_id] [uniqueidentifier] NOT NULL,
    [curso_id] [int] NULL,
    [user_id] [uniqueidentifier] NOT NULL,
    [tipo_operacion] [nvarchar](50) NOT NULL,
    [prompt_tokens] [int] NOT NULL,
    [completion_tokens] [int] NOT NULL,
    [costo_estimado_usd] [decimal](10, 6) NOT NULL,
    [fecha] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[cursos](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [institucion_id] [uniqueidentifier] NOT NULL,
    [nombre] [nvarchar](255) NOT NULL,
    [codigo] [nvarchar](50) NULL,
    [is_active] [bit] NOT NULL,
    [descripcion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[estudiante_cursos](
    [id] [uniqueidentifier] NOT NULL,
    [user_id] [uniqueidentifier] NULL,
    [curso_id] [int] NULL,
    [is_active] [bit] NULL,
    [fecha_inscripcion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC),
CONSTRAINT [uq_estudiante_curso] UNIQUE NONCLUSTERED ([user_id],[curso_id])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[instituciones](
    [id] [uniqueidentifier] NOT NULL,
    [nombre] [nvarchar](255) NOT NULL,
    [dominio_permitido] [nvarchar](100) NULL,
    [created_at] [datetime2](7) NULL,
    [updated_at] [datetime2](7) NULL,
    [n8n_drive_webhook_url] [nvarchar](500) NULL,
    [n8n_sheets_webhook_url] [nvarchar](500) NULL,
    [n8n_calendar_webhook_url] [nvarchar](500) NULL,
    [drive_folder_url] [nvarchar](500) NULL,
    [drive_folder_id] [nvarchar](200) NULL,
    [is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[log_notificaciones](
    [id] [uniqueidentifier] NOT NULL,
    [user_id] [uniqueidentifier] NOT NULL,
    [actividad_agenda_id] [uniqueidentifier] NOT NULL,
    [tipo_notificacion] [nvarchar](50) NOT NULL,
    [estado_envio] [nvarchar](50) NOT NULL,
    [fecha_ejecucion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[mensajes_chat](
    [id] [uniqueidentifier] NOT NULL,
    [sesion_chat_id] [uniqueidentifier] NOT NULL,
    [rol] [nvarchar](20) NOT NULL,
    [contenido] [nvarchar](max) NOT NULL,
    [citas_contexto_json] [nvarchar](max) NULL,
    [tipo_interaccion] [nvarchar](50) NULL,
    [created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

CREATE TABLE [dbo].[planes](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [nombre] [nvarchar](100) NOT NULL,
    [max_cuentas] [int] NOT NULL,
    [max_almacenamiento_gb] [decimal](5, 2) NOT NULL,
    [is_active] [bit] NOT NULL,
    [created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC),
UNIQUE NONCLUSTERED ([nombre] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[roles](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED ([id] ASC),
UNIQUE NONCLUSTERED ([name] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[sesiones_chat](
    [id] [uniqueidentifier] NOT NULL,
    [user_id] [uniqueidentifier] NOT NULL,
    [titulo] [nvarchar](200) NULL,
    [is_active] [bit] NOT NULL,
    [created_at] [datetime2](7) NULL,
    [updated_at] [datetime2](7) NULL,
    [curso_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[suscripciones](
    [id] [uniqueidentifier] NOT NULL,
    [institucion_id] [uniqueidentifier] NOT NULL,
    [plan_id] [int] NOT NULL,
    [limite_tokens_mensual] [bigint] NOT NULL,
    [fecha_inicio] [datetime2](7) NOT NULL,
    [fecha_fin] [datetime2](7) NOT NULL,
    [is_active] [bit] NOT NULL,
    [created_at] [datetime2](7) NULL,
    [updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC),
UNIQUE NONCLUSTERED ([institucion_id] ASC)
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[user_roles](
    [user_id] [uniqueidentifier] NOT NULL,
    [role_id] [int] NOT NULL,
    [assigned_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([user_id],[role_id])
) ON [PRIMARY];
GO

CREATE TABLE [dbo].[users](
    [id] [uniqueidentifier] NOT NULL,
    [institucion_id] [uniqueidentifier] NULL,
    [email] [nvarchar](255) NOT NULL,
    [email_verified] [bit] NOT NULL,
    [password_hash] [nvarchar](255) NOT NULL,
    [first_name] [nvarchar](100) NOT NULL,
    [last_name] [nvarchar](100) NOT NULL,
    [phone] [nvarchar](20) NULL,
    [is_active] [bit] NOT NULL,
    [created_at] [datetime2](7) NULL,
    [updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED ([id] ASC),
UNIQUE NONCLUSTERED ([email] ASC)
) ON [PRIMARY];
GO

-- ============================
-- Tabla de trabajos de ingestión RAG
-- ============================
/*
  Registro auditable para las cargas de material RAG.
  Ejecutar una sola vez sobre SQL Server antes de desplegar la versión que lo usa.
*/
IF OBJECT_ID(N'dbo.rag_ingestion_jobs', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.rag_ingestion_jobs (
        id NVARCHAR(36) NOT NULL PRIMARY KEY,
        institucion_id UNIQUEIDENTIFIER NOT NULL,
        curso_id INT NOT NULL,
        coordinador_id UNIQUEIDENTIFIER NULL,
        estado NVARCHAR(20) NOT NULL CONSTRAINT df_rag_ingestion_jobs_estado DEFAULT N'queued',
        intento INT NOT NULL CONSTRAINT df_rag_ingestion_jobs_intento DEFAULT 1,
        documentos_json NVARCHAR(MAX) NOT NULL CONSTRAINT df_rag_ingestion_jobs_documentos DEFAULT N'[]',
        chunks_indexados INT NOT NULL CONSTRAINT df_rag_ingestion_jobs_chunks DEFAULT 0,
        archivos_procesados INT NOT NULL CONSTRAINT df_rag_ingestion_jobs_archivos DEFAULT 0,
        respuesta_procesador_json NVARCHAR(MAX) NULL,
        error_message NVARCHAR(1000) NULL,
        created_at DATETIME2 NOT NULL CONSTRAINT df_rag_ingestion_jobs_created DEFAULT SYSUTCDATETIME(),
        updated_at DATETIME2 NOT NULL CONSTRAINT df_rag_ingestion_jobs_updated DEFAULT SYSUTCDATETIME(),
        completed_at DATETIME2 NULL,
        CONSTRAINT fk_rag_ingestion_jobs_institucion
            FOREIGN KEY (institucion_id) REFERENCES dbo.instituciones(id) ON DELETE CASCADE,
        CONSTRAINT fk_rag_ingestion_jobs_curso
            FOREIGN KEY (curso_id) REFERENCES dbo.cursos(id) ON DELETE NO ACTION,
        CONSTRAINT ck_rag_ingestion_jobs_estado
            CHECK (estado IN (N'queued', N'processing', N'completed', N'failed', N'unknown'))
    );

    CREATE INDEX ix_rag_ingestion_jobs_curso_created
        ON dbo.rag_ingestion_jobs (curso_id, created_at DESC);
    CREATE INDEX ix_rag_ingestion_jobs_institucion_estado
        ON dbo.rag_ingestion_jobs (institucion_id, estado);
END;
GO


-- Índices
-- ============================

CREATE NONCLUSTERED INDEX [idx_actividades_fecha] ON [dbo].[actividades_agenda]([fecha_limite] ASC);
GO

CREATE NONCLUSTERED INDEX [idx_mensajes_chat_sesion] ON [dbo].[mensajes_chat]([sesion_chat_id] ASC);
GO

CREATE NONCLUSTERED INDEX [idx_sesiones_chat_user] ON [dbo].[sesiones_chat]([user_id] ASC) WHERE ([is_active]=(1));
GO

CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]([email] ASC) WHERE ([is_active]=(1));
GO

CREATE NONCLUSTERED INDEX [idx_users_institucion] ON [dbo].[users]([institucion_id] ASC) WHERE ([is_active]=(1));
GO

-- ============================
-- Defaults y Constraints
-- ============================

ALTER TABLE [dbo].[actividades_agenda] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[actividades_agenda] ADD DEFAULT ('vigente') FOR [estado];
ALTER TABLE [dbo].[actividades_agenda] ADD DEFAULT (sysdatetime()) FOR [created_at];

ALTER TABLE [dbo].[configuracion_ia] ADD DEFAULT ((0.2)) FOR [temperatura];
ALTER TABLE [dbo].[configuracion_ia] ADD DEFAULT ('chat,socratico,recursos') FOR [modos_permitidos];
ALTER TABLE [dbo].[configuracion_ia] ADD DEFAULT (sysdatetime()) FOR [updated_at];
ALTER TABLE [dbo].[configuracion_ia] ADD DEFAULT ((0)) FOR [extender_conocimiento];

ALTER TABLE [dbo].[consumo_tokens] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[consumo_tokens] ADD DEFAULT (sysdatetime()) FOR [fecha];

ALTER TABLE [dbo].[cursos] ADD DEFAULT ((1)) FOR [is_active];

ALTER TABLE [dbo].[estudiante_cursos] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[estudiante_cursos] ADD DEFAULT ((1)) FOR [is_active];
ALTER TABLE [dbo].[estudiante_cursos] ADD DEFAULT (sysdatetime()) FOR [fecha_inscripcion];

ALTER TABLE [dbo].[instituciones] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[instituciones] ADD DEFAULT (sysdatetime()) FOR [created_at];
ALTER TABLE [dbo].[instituciones] ADD DEFAULT (sysdatetime()) FOR [updated_at];
ALTER TABLE [dbo].[instituciones] ADD DEFAULT ((0)) FOR [is_active];

ALTER TABLE [dbo].[log_notificaciones] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[log_notificaciones] ADD DEFAULT (sysdatetime()) FOR [fecha_ejecucion];

ALTER TABLE [dbo].[mensajes_chat] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[mensajes_chat] ADD DEFAULT ('consulta') FOR [tipo_interaccion];
ALTER TABLE [dbo].[mensajes_chat] ADD DEFAULT (sysdatetime()) FOR [created_at];

ALTER TABLE [dbo].[planes] ADD DEFAULT ((1)) FOR [is_active];
ALTER TABLE [dbo].[planes] ADD DEFAULT (sysdatetime()) FOR [created_at];

ALTER TABLE [dbo].[sesiones_chat] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[sesiones_chat] ADD DEFAULT ('Nueva Conversación') FOR [titulo];
ALTER TABLE [dbo].[sesiones_chat] ADD DEFAULT ((1)) FOR [is_active];
ALTER TABLE [dbo].[sesiones_chat] ADD DEFAULT (sysdatetime()) FOR [created_at];
ALTER TABLE [dbo].[sesiones_chat] ADD DEFAULT (sysdatetime()) FOR [updated_at];

ALTER TABLE [dbo].[suscripciones] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[suscripciones] ADD DEFAULT ((1)) FOR [is_active];
ALTER TABLE [dbo].[suscripciones] ADD DEFAULT (sysdatetime()) FOR [created_at];
ALTER TABLE [dbo].[suscripciones] ADD DEFAULT (sysdatetime()) FOR [updated_at];

ALTER TABLE [dbo].[user_roles] ADD DEFAULT (sysdatetime()) FOR [assigned_at];

ALTER TABLE [dbo].[users] ADD DEFAULT (newid()) FOR [id];
ALTER TABLE [dbo].[users] ADD DEFAULT ((0)) FOR [email_verified];
ALTER TABLE [dbo].[users] ADD DEFAULT ((1)) FOR [is_active];
ALTER TABLE [dbo].[users] ADD DEFAULT (sysdatetime()) FOR [created_at];
ALTER TABLE [dbo].[users] ADD DEFAULT (sysdatetime()) FOR [updated_at];

-- ============================
-- Foreign Keys
-- ============================

ALTER TABLE [dbo].[actividades_agenda] 
ADD CONSTRAINT [fk_actividades_agenda_curso] FOREIGN KEY([curso_id]) REFERENCES [dbo].[cursos]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[configuracion_ia] 
ADD CONSTRAINT [fk_configuracion_ia_curso] FOREIGN KEY([curso_id]) REFERENCES [dbo].[cursos]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[consumo_tokens] 
ADD CONSTRAINT [fk_consumo_tokens_curso] FOREIGN KEY([curso_id]) REFERENCES [dbo].[cursos]([id]) ON DELETE SET NULL;

ALTER TABLE [dbo].[consumo_tokens] 
ADD CONSTRAINT [fk_consumo_tokens_institucion] FOREIGN KEY([institucion_id]) REFERENCES [dbo].[instituciones]([id]);

ALTER TABLE [dbo].[consumo_tokens] 
ADD CONSTRAINT [fk_consumo_tokens_user] FOREIGN KEY([user_id]) REFERENCES [dbo].[users]([id]);

ALTER TABLE [dbo].[cursos] 
ADD FOREIGN KEY([institucion_id]) REFERENCES [dbo].[instituciones]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[estudiante_cursos] 
ADD CONSTRAINT [FK_estudiante_cursos_curso] FOREIGN KEY([curso_id]) REFERENCES [dbo].[cursos]([id]);

ALTER TABLE [dbo].[estudiante_cursos] 
ADD CONSTRAINT [FK_estudiante_cursos_user] FOREIGN KEY([user_id]) REFERENCES [dbo].[users]([id]);

ALTER TABLE [dbo].[log_notificaciones] 
ADD FOREIGN KEY([actividad_agenda_id]) REFERENCES [dbo].[actividades_agenda]([id]);

ALTER TABLE [dbo].[log_notificaciones] 
ADD FOREIGN KEY([user_id]) REFERENCES [dbo].[users]([id]);

ALTER TABLE [dbo].[mensajes_chat] 
ADD FOREIGN KEY([sesion_chat_id]) REFERENCES [dbo].[sesiones_chat]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[sesiones_chat] 
ADD FOREIGN KEY([user_id]) REFERENCES [dbo].[users]([id]);

ALTER TABLE [dbo].[sesiones_chat] 
ADD CONSTRAINT [fk_sesiones_chat_curso] FOREIGN KEY([curso_id]) REFERENCES [dbo].[cursos]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[suscripciones] 
ADD FOREIGN KEY([institucion_id]) REFERENCES [dbo].[instituciones]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[suscripciones] 
ADD FOREIGN KEY([plan_id]) REFERENCES [dbo].[planes]([id]);

ALTER TABLE [dbo].[user_roles] 
ADD FOREIGN KEY([role_id]) REFERENCES [dbo].[roles]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[user_roles] 
ADD FOREIGN KEY([user_id]) REFERENCES [dbo].[users]([id]) ON DELETE CASCADE;

ALTER TABLE [dbo].[users] 
ADD FOREIGN KEY([institucion_id]) REFERENCES [dbo].[instituciones]([id]) ON DELETE CASCADE;

-- ============================
-- Checks
-- ============================

ALTER TABLE [dbo].[mensajes_chat] 
ADD CONSTRAINT [chk_rol_chat] CHECK (([rol]='assistant' OR [rol]='user'));

ALTER TABLE [dbo].[roles] 
ADD CONSTRAINT [chk_role_name] CHECK (([name]='estudiante' OR [name]='coordinador' OR [name]='super_admin'));


-- =============================================